#fixed {
  position: fixed;
  top: 15px;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  z-index: 4;
}

#topwhite {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  z-index: 3;
  background: white;
  width: 100%;
  height: 45px;
  box-shadow: 0px 2px 6px white;
}

#slides {
  display: none
}

.container {
  margin: 0 auto
}

.slidesjs-pagination .active {
  color:red;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px
  }
}

img.left{
  position: fixed;
  left: 10px;
  top: 6px;
  height: 30px;
  width: 30px;
  z-index: 5;
}

img.right{
  position: fixed;
  right: 10px;
  top: 6px;
  height: 30px;
  width: 30px;
  z-index: 5;
}

img.fbg {
  /* Set rules to fill background */
  min-height: 80%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3;
}

@media screen and (max-width: 1024px) { 
  img.fbg {
    left: 50%;
    margin-left: -512px;
  }
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 42px;
  left: 0px;
}

@media screen and (max-width: 1024px) { 
  img.bg {
    left: 50%;
    margin-left: -512px;
  }
}

a:link, a:visited, a:hover, a:active{
  color: #3B3B3B;
}

.toTop {
  font-family: 'Cinzel Decorative';
  font-weight: 900;
  font-size: 40pt;
  color: #3B3B3B;
}

.toTop:hover {
  color: #999999;
}

.blogTitle {
    font-family: 'Open Sans Condensed';
    font-weight: 400;
    font-size: 20pt;
    color: #3B3B3B;
}

.blogDes {
    font-family: 'Open Sans Condensed';
    font-weight: 300;
    font-size: 12pt;
    letter-spacing: 1px;
    margin-top: -5px;
    color: #999999;
    margin-bottom: 20px;
}

.blogContent {
    font-family: 'Open Sans Condensed';
    font-weight: 300;
    font-size: 12pt;
    color: #3B3B3B;
    letter-spacing: 1px;
    width: 80%;
    word-wrap: break-word;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

#buffer {
  height: 50px;
}

#Bigbuffer {
  height: 50px;
}

#parent1 {
  height: 100%;
}

#parent2 {
  height: 100%;
}

#name {
    font-family: 'Open Sans Condensed';
    font-size: 60pt;
    color: #3B3B3B;
}

#description {
    font-family: 'Open Sans Condensed';
    font-size: 14pt;
    color: #666666;
    margin-top: -20px;
    letter-spacing: 2px;
}

.column {
  height: 100%;
  background: white;
}

.container {
  text-align: center;
  height: 100%;
  position: relative;
}

.right .container {
  height: 100%;
}

.vertical-align-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  display: table;
}

.vertical-align {
  background: white;
  display: table-cell;
}

.vertical-align--middle {
  vertical-align: middle;
}

body, html {
  height: 97%;
}

.menu {
  color: #999999;
  padding-left: 14px;
  padding-right: 14px;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  transition: all .25s;
}

.menu:hover {
  border-color: #fff;
  background-color: transparent;
  color: #666666;
}

.menu:active {
  color: #FFFFFF;
}

.enter {
  border: none;
  outline-style: medium none !important;
  color: #999999;
  padding-top: 8px;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  position: relative;
  top: -10px;
}

#Button1 {
  display: inline
}

#Button2 {
  display: inline
}

#Button3 {
  display: inline
}

#Button4 {
  display: inline
}

#Button5 {
  display: inline
}

a:focus, a:active,
button,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    outline: none !important;
}

.enter:hover {
  border-color: #fff;
  background-color: transparent;
  color: #666666;
}

.enter:active {
  color: #FFFFFF;
/*    transform: translate(-20px);
    transition-timing-function: ease*/
}

